<div class="body">
  <div class="jumbotron" id="jum">
    <h1>QUOTES</h1>
    <p>The App that lets you create your own personal quote.</p>
  </div>

  <div class="container" id="container">
    <div class="form-row" id="det">
      <div class="form-group col-md-6">
        <div *ngFor='let quote of quote; let i=index'>
          <h3>{{quote.author}}</h3>
          <!-- <li>
      Upvotes:{{quote.upVotes}}<br>
    Downvotes:{{quote.downVote}}</li> -->
          <!-- <p>Quoted on {{quote.completeDate|date|uppercase}}</p> -->

          <div>
            <button (click)='toggleDetails(i)' class="btn btn-info">View Info</button>
          </div>

          <div *ngIf='quote.showQuote'>

            <app-quotes-detail [quote]='quote' (isComplete)='deleteQuote($event,i)' (isupVote)='voteBest($event,i)'
              (isdownVote)='voteWorst($event,i)'></app-quotes-detail>
          </div>


        </div>
      </div>
    </div>
    <div class="form-row">
      <div class=" form-group col-md-6" id="det">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>

    </div>
  </div>
</div>